.checked{
	
 background: #33CC33 !important;
}

.title{
	margin-bottom: 25px;
}

.logo{
	width:50%;
	margin-top: 15px; 
}

td {
   text-align: center;
   vertical-align: middle !important;   

}

.text-center {
  text-align: center;
}